.modal-fecha-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-fecha-contenido {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-fecha-botones {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-fecha-botones button {
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  